{% extends "layout.html" %}
{% set page_title = 'Paste #' ~ paste.identifier %}
{% set active_page = 'all' %}
{% block body %}
  <div class="related">
    <h2>{% trans %}Paste details{% endtrans %}</h2>
    <div class="quick">
      <p><a href="/?reply_to={{ paste.identifier }}">{% trans %}reply{% endtrans %}</a> |
         <a href="/raw/{{ paste.identifier }}/">{% trans %}raw{% endtrans %}</a>
         <span id="wrap-toggle-zone"></span></p>
    </div>
  </div>
  <div id="paste" class="lang-{{ paste.language }} code{% if not linenos %} nolinenos{% endif %}">
    {{ paste.parsed_code }}
  </div>
{% endblock %}
